body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* header start */

.header-bg {
    background-color: black;
    padding-top: 0px;
    width: 100%;
    height: 425px;
    display: flex;
}

.header-bg:hover {
    background-color: rgb(33, 34, 34);
}

.header-Text {
    text-align: center;

    color: aliceblue;
    padding-top: 5%;


}

.h-text1 {
    font-size: 80px;
    color: darkgray;

}

.p-text1 {
    font-size: 20px;
    color: dimgrey;
}

.img-botm {
    padding-top: 30%;
    padding-left: 20%;
}


.header-img {
    width: 400px;
}

/* header end */
/* main start */
.card-box1 {
    background-color: black;
    width: 13.89%;
    margin: 30px;
    border: 2px solid gray;


}

.card-text {
    text-align: center;
    padding-bottom: 10px;
    color: rgb(220, 218, 218);

}

.btn-card {
    background-color: darkgray;
    width: 50%;
    height: 40px;
    font-size: 25px;
    color: azure;
}

.card {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.h3-card {
    color: darkgrey;
    text-align: center;
}

.li-card {
    color: darkgray;
    font-size: 30px;
    padding-left: 10px;
}

.ol li {
    margin-top: 10px;
}


/* main end */